/* Fuente - NR */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* Reglas generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Barra de navegación */
nav {
  background-color: rgb(53, 164, 53);
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

nav a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a img {
  width: 55px;
  height: 55px;
}

.logo img{
  height: 40px;
  width: auto;
  padding-right: 10px;
}

.logo {
  padding-right: 10px;
}

/* sector carrito de compras === lo puse arriba porque sino tenia que hacer un re quilombo para el despliegue del carrito oculto */

.shop {
  position: relative;
  margin-right: 10px;
}

.shop i {
  width: 55px;
  height: 55px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
}

.shop i:hover {
  text-decoration: none;
  color: rgb(53, 164, 53);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(53, 164, 53);
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: rgb(53, 164, 53);
  color: #fff;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 70px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(53, 164, 53);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.cart-empty {
  color: rgb(53, 164, 53);
  text-align: center;
}

/* Menú hamburguesa */

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 6px 0px;
  margin-left: 10px;
  border-radius: 20px;
  transition: 0.4s;
  opacity: 1;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-7px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 100%;
  width: 35%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: rgb(53, 164, 53);
  padding-top: 120px;
  transition: 0.5s;
}

.mobile-nav.is-active {
  right: 70%;
}

.btn-menu {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgb(39, 119, 39);

  color: #fff;
  text-decoration: none;
}

/* Esto es para que no se peguen arriba y los tape el nav */
.inicio,
.productos,
.servicios,
.nosotros,
.contacto {
  padding-top: 80px;
}

.inicio {
  font-size: 30px;
  font-weight: bold;
}

.inicio h1 {
  margin-top: 20px;
  color: rgb(53, 164, 53);
}
.inicio p {
  line-height: 45px;
}

.productos h1 {
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 10px solid rgb(53, 164, 53);
}

.servicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.servicios h1 {
  font-size: 30px;
  padding-top: 20px;
  border-top: 10px solid rgb(53, 164, 53);
}

.nosotros h1{
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 10px solid rgb(53, 164, 53);
}

.contacto h1 {
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 10px solid rgb(53, 164, 53);
}

/* Contenedor */
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Banner de productos */

.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider {
  width: 90%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 600px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  position: relative;
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 600px;
  transition: 1s;
}

.link {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}

.link:hover {
  backdrop-filter: blur(3px);
  opacity: 1;
}

.slide-button {
  background-color: rgb(53, 164, 53);
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 0.25em;
  padding: 0.5em 1em;
  transition: 0.25s;
}

.slide-button:hover {
  cursor: pointer;
  background-color: rgb(39, 119, 39);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.auto-nav {
  position: absolute;
  width: 90%;
  margin-top: 580px;
  display: flex;
  justify-content: center;
}

.auto-nav div {
  border: 2px solid #86fa6f;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.auto-nav div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .auto-nav .auto-btn1 {
  background: #86fa6f;
}

#radio2:checked ~ .auto-nav .auto-btn2 {
  background: #86fa6f;
}

#radio3:checked ~ .auto-nav .auto-btn3 {
  background: #86fa6f;
}


/* servicios */

.servicio {
  width: 100%;
  color: #000000;
  background-color: #ebebeb;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  transition: 0.25s;
}

.servicio:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.servicio img {
  width: 50px;
  margin-left: 10px;
}

.contenedor-servicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

/* Parte de nosotros */

.subtitulo-nos {
  font-size: 30px;
}

.nosotros {
  width: 100%;
  height: auto;
  color: #000000;
  text-align: center;
  padding-top: 20px;
}

.nosotros img {
  width: 100%;
}

.nosotros-grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.persona {
  background-color: #e3e3e3;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1) ;
  overflow: hidden;
}

/* Botones */

.botones {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  bottom: 15px;
  right: 15px;
  height: 15vh;
}

/* Botón subir */

.subir i {
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 164, 53);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  transition: 0.25s;
  z-index: 99;
}

.subir i:hover {
  text-decoration: none;
  color: rgb(53, 164, 53);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(53, 164, 53);
}

/* Animación de botón subir */

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: opacity 0.3s ease-out, visibility 0s linear 0.3s,
    transform 0.3s ease-out;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: opacity 0.3s ease-in, visibility 0s linear 0s,
    transform 0.3s ease-in;
}

/* Pagina de productos */

.container-items {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.item {
  border-radius: 10px;
  transition: 0.25s;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 17px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: rgb(53, 164, 53);
  color: rgb(255, 255, 255);
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.2s;
}

.info-product button:hover {
  transform: scale(1.1);
  color: rgb(53, 164, 53);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(53, 164, 53);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.1);
}

/* Footer simple  - Siempre al fondo para organizarse mejor*/
footer {
  color: white;
  margin-top: 100%;
  height: 75px;
  background-color: rgb(53, 164, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Esto es para empezar a hacerlo responsive - Los Media Query siempre van al fondo.*/
@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {

  .slider {
    width: 70%;
    height: 400px;
  }

  .slider img {
    height: 400px;
  }

  .link {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60%;
  }

  .auto-nav {
    margin-top: 380px;
    width: 70%;
  }

}

@media screen and (max-width: 900px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-slider {
    max-width: auto;
  }
  
}

@media screen and (max-width: 768px) {

  .container-slider {
    max-width: 400px;
    margin-top: -20%;
    margin-bottom: -20%;
  }

  .slider {
    height: auto;
  }

  .slides {
    height: 250px;
  }

  .auto-nav {
    margin-top: 230px;
    width: 430px;
  }
  
  .slide img {
    width: 400px;
    height: 250px;
  }

}